# Core dependencies
moviepy==1.0.3
tk==0.1.0
pydub==0.25.1
yt-dlp==2025.1.15
requests==2.32.3
urllib3==2.3.0
websockets==14.2
certifi==2024.12.14
mutagen==1.47.0
pycryptodomex==3.21.0
brotli==1.1.0
ffmpeg-python==0.2.0

# Audio processing dependencies
decorator==4.4.2
imageio==2.36.1
imageio_ffmpeg==0.6.0
numpy>=1.25.0
proglog<=1.0.0
python-dotenv>=0.10
pillow>=9.2.0
tqdm>=4.11.2

# Utilities
